@model SocialNetwork.Web.Models.GalleryViewModel

@{
    ViewBag.Title = "Details";
    var GalleryId = Model.GalleryId;
}

<h2>Galeria de imagens</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>

    <div>
        @foreach (var image in Model.Images)
        {
            <a href="@Url.Content(image.Url)" target="blank">
                <img class="foto-gallery" src="@Url.Content(image.Url)" />
            </a>
            <p>
                @Html.ActionLink("Remover", "Delete/" + image.ImageId, "Images", null, null)
            </p>
        }

    </div>

</div>
<p>
    @Html.ActionLink("Adicionar nova imagem", "AddImageToGallery")   
</p>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.GalleryId }) |*@
    @*@Html.ActionLink("Voltar para galerias", "Index")*@
</p>
