@{
    ViewBag.Title = "Home Page";
    var profile = ViewBag.profile;
    var posts = ViewBag.Posts;
    var logedUser = ViewBag.profileFromLogedUser;
}

<div class="row">
    <div class="col-md-12 principal">

        <section class="aside-menu">
            <img class="foto-perfil" src="@Url.Content(@logedUser.PictureUrl)" />
            <h4>@logedUser.FirstName @logedUser.LastName</h4>
            <div class="general-information">
                <span>
                    <p>Seguindo</p>
                    <p>65</p>
                </span>
                <span>
                    <p>Seguidores</p>
                    <p>27</p>
                </span>
                <span>
                    <p>Atividades</p>
                    <p>102</p>
                </span>
            </div>
            <hr />
            <div>
                <p>Última atividade</p>
                <p>Pedalada vespertina - Ontem</p>
            </div>
            <hr />
            <div>
                <p>
                    Registro de treinamento
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </p>
            </div>
        </section>
        <section class="area-central">
            @{
                if (Session["Profile"] == null)
                {
                    <h2>Criar perfil</h2>
                    <p>
                        Novo por aqui? Comece a utilizar o Destrava criando o seu perfil clicando no botão abaixo.
                    </p>
                    <p>@Html.ActionLink("Criar perfil", "Create", "Profile")</p>
                }
                else
                {
                    <div class="criar-postagem">
                        <input type="text" placeholder="No que você está pensando @logedUser.FirstName?" />
                        <div class="post-buttons">
                            <button class="btn">
                                <i class="fa fa-bicycle" aria-hidden="true"></i>
                                <p>@Html.ActionLink("Registrar treino", "Create", "Posts")</p>
                            </button>
                            <button class="btn">
                                <i class="fa fa-camera" aria-hidden="true"></i>
                                <p>@Html.ActionLink("Criar galeria", "Create", "Gallery")</p>
                            </button>
                            <button class="btn">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <p>Marcar amigos</p>
                            </button>
                        </div>
                    </div>
                    foreach (var p in posts)
                    {
                        <div class="postagem">
                            <div class="cabecalho">
                                <img class="foto-perfil" src="@Url.Content(@p.Profile.PictureUrl)" />
                                <span>
                                    <p>@p.Profile.FirstName @p.Profile.LastName</p>
                                    <p>Hoje às 9:55 AM</p>
                                </span>
                            </div>
                            <div class="content">
                                <h4>
                                    @p.Title
                                </h4>
                                <div class="performance-data">
                                    <span>
                                        <p>
                                            Categoria
                                        </p>
                                        <p>
                                            @p.Category
                                        </p>
                                    </span>
                                    <span>
                                        <p>
                                            Distância
                                        </p>
                                        <p>
                                            @p.Distance
                                        </p>
                                    </span>
                                    <span>
                                        <p>
                                            Velocidade máxima
                                        </p>
                                        <p>
                                            @p.AverageSpeed
                                        </p>
                                    </span>
                                </div>
                                <img src="@Url.Content(@p.PictureUrl)" />
                                <div class="react">
                                    <span>
                                        <p>
                                            20 Kudos - 1 comentário
                                        </p>
                                    </span>
                                    <span>
                                        <button class="btn">
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn">
                                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </section>
    </div>
</div>