@model SocialNetwork.Web.Models.ProfileViewModel
@Styles.Render("~/Content/css")

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="image-container">
        <img class="foto-perfil" src="@Url.Content(Model.PictureUrl)" />
    </div>
    <h2 class="profile-name">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
    <section class="menu-perfil">
        <ul>
            <li>Linha do tempo</li>
            <li>Sobre</li>
            <li>Amigos</li>
            <li>
                @Html.ActionLink("Galeria de imagens", "GetGalleriesByUserId/" + Model.Id, "Gallery", null, null)
            </li>
            <li>@Html.ActionLink("Editar perfil", "Edit", new { id = Model.Id })</li>
        </ul>
    </section>
    <section class="apresentacao">
        <h4>
            <i class="fa fa-globe" aria-hidden="true"></i>
            Apresentação
        </h4>
        <ul>
            <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Mora em Rio de janeiro
            </li>
            <li>
                <i class="fa fa-rss" aria-hidden="true"></i>
                Seguido por 50 pessoas
            </li>
            <li>Nasceu em @Html.DisplayFor(model => model.BirthDate)</li>
        </ul>
    </section>
</div>
