@model SocialNetwork.Web.Models.ProfileViewModel
@Styles.Render("~/Content/css")

@{
    ViewBag.Title = "Details";
    var url = ViewBag.PictureUrl;
}

<h2>Perfil</h2>

<div>
    <dl class="dl-horizontal">
        <dd>
            <img class="foto-perfil" src="@Url.Content(url)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Editar perfil", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Home", "Index", "Home")
</p>
